<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.wedemain.fr/wp-content/uploads/cinema-1-870x600.jpg);">
  <div class="container">
    <h1>Save any kind of movies</h1>
  </div>
</div>
